.theme--light .v-content {
  background-color: #e9fff9;
}

.theme--dark .v-content {
  background-color: #1d3354;
}

.theme--light .v-application {
  background-color: #e9fff9;
}

.theme--dark.v-application {
  background-color: #1d3354;
}

.theme--light .v-navigation-drawer {
  background-color: #294b42;
}

.theme--dark .v-navigation-drawer {
  background-color: #1d3354;
}
